.portada2{
    color:white;
    position: absolute;
    top: 38%;
    left: 30%;
    /*left: 700px;*/
    z-index: 1;
}
.portada2 h1{
    font-size: 50px;
    
}

.portada2 h1, .portada2 h2 {
    line-height: 20px; /* Ajusta el valor según tus necesidades */
    
  }